/* src/features/auth/styles/Login.css */

.login-background {
    background-image: url('../../../../../public/favicom.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajusta esta altura según sea necesario */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  